
html, body {
    font-size: 12px;
}

#logo {
    margin: 0.5em auto;
    clear: both;
}

header>hgroup>h2 {
    display: block;
    width: 100%;
    text-align: right;
    font-weight: normal;
    margin: 0.2em;
    font-size: 1.2em;
}
nav a {
    margin: 0 0.8em;
}

#container {
    width: 100%;
    margin: 1em 0;
}

article aside.droplet {
    display: inline-block;
    width: 3em;
    height: 3em;
    margin: 0.2em;
}