html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, code, em, img, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, footer, header, hgroup, menu, nav, section, summary, video {
    margin: 0; padding: 0; border: 0;
    vertical-align: baseline;
}

article, aside, code, details, blockquote, footer, header, hgroup, menu, nav, section {
    display: block;
}

ol, ul {
    list-style-position: inside;
}

/*Web Fonts from the Google repository*/
@font-face {
    font-family: 'Droid Serif';
    font-style: normal;
    font-weight: normal;
    src: local('Droid Serif'), local('DroidSerif'), url('http://themes.googleusercontent.com/font?kit=0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk') format('woff');
}

@font-face {
    font-family: 'Lobster';
    font-style: normal;
    font-weight: normal;
    src: local('Lobster'), url('http://themes.googleusercontent.com/font?kit=MWVf-Rwh4GLQVBEwbyI61Q') format('woff');
}

html {
    font-family: "Droid serif", georgia, times, serif;
    font-size: 18px;
}

body {
    border-top: 5px solid #fa711c;
    background: #e7e7e7 url(http://colourlovers.com.s3.amazonaws.com/images/patterns/1354/1354072.png) repeat;
}

header, nav, article h1 {
    font-family: Lobster, "trebuchet MS", tahoma, helvetica, sans-serif;
    color: white;
}

footer, .tags, .bottomlinks {
    font-family: "trebuchet MS", tahoma, helvetica, sans-serif;
}

header, nav, footer {
    width: 100%;
}

header {
    background: #94bfd5;
    height: 100px;
    border-top: 1px solid white;
}

header>hgroup, nav>ul {
    width: 100%;
    margin: 0 auto;
    clear: both;
}

#logo {
    float: left;
    margin: 0 0 0 50px;
    line-height: 75px;
    padding-top: 25px;
}

header>hgroup>h2 {
    float: right;
    font-weight: normal;
    margin: 0 5% 0 0;
    line-height: 80px;
    padding-top: 1em;
    font-size: 1.55em;
}

nav {
    background: black;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
    line-height: 2em;
    -moz-shadow: 0 10px 10px rgba(64, 64, 64, 0.5);
    -webkit-box-shadow: 0 10px 10px rgba(64, 64, 64, 0.5);
    box-shadow: 0 10px 10px rgba(64, 64, 64, 0.5);
}

nav ul {
    text-align: center;
    padding: 5px 0;
}

nav ul li {
    display: inline;
    list-style: none;
    color: #94bfd5;
    font-size: 1.2em;
}

nav ul li:after {
    content: '//'
}

nav ul li:last-child:after {
    content: ''
}

nav a {
    color: #fff;
    margin: 0 1em;
    text-decoration: none;
}

nav a.current, nav a:hover {
    text-decoration: underline;
}

#container {
    min-height: 100%;
}

#main {
    overflow:auto;
    padding-bottom: 150px;
}  /* must be same height as the footer */

footer {
    position: relative;
    margin-top: -150px; /* negative value of footer height */
    height: 150px;
    clear:both;
}

article {
    background: #FFFFD1;
    margin: 1.2em 1em 1.2em auto;
    padding: 1.2em;
    width: 80%;
    min-height: 200px;
    border: 2px solid white;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-shadow: 0 1px 1px #fff;
}

article.quote {
    min-height: 100px;
}

article aside.droplet {
    width: 60px;
    height: 60px;
    float: left;
    text-align: center;
    background: white;
    margin: -10px 10px 0 -160px;
    padding: 30px;
    -moz-border-radius: 60px 2px 60px 60px;
    border-radius: 60px 2px 60px 60px;
    -moz-opacity: 0.7;
    opacity: 0.7;
}

article.article p {
    max-width: 70em;
}

article h1, article h2, article h3 {
    padding: 0 0 0.5em;
}

article ul, article p {
    margin-bottom: 1.1em;
}


ul.tags {
    width: 50%;
    float: right;
    font-size: 0.77em;
    margin: 0;
    padding: 0.4em 0.8em;
}
ul.bottomlinks {
    clear: both;
    display: block;
    width: 100%;
    margin: 0 2em 0 0;
    font-size: 1.1em;
}

ul.tags, ul.bottomlinks {
    text-align: right;
    line-height: 1.8em;
}


ul.tags li {
    display: inline;
    background: url(http://zipang.github.com/EidolonLabsBlog/images/tag_icon.png) no-repeat;
    padding-left: 1em;
    line-height: 1.7em;
    text-transform: uppercase;
}

ul.bottomlinks li.pen {
    display: inline;
    background: url(http://zipang.github.com/EidolonLabsBlog/images/pen_icon.png) no-repeat;
    padding-left: 1.4em;
}

ul.tags li a, ul.bottomlinks li a {
    -moz-border-radius: 3px;
    border-radius: 3px;
    padding: 3px;

    font-weight: normal;
    text-shadow: none;
    text-decoration: none;
    color: black;
}

ul.tags li a:hover, ul.bottomlinks li a:hover {
    background: white;
}

article.quote blockquote {
    font-family: Lobster, "trebuchet MS", tahoma, helvetica, sans-serif;
    font-size: 1.5em;
    padding: 1.1em 4em 1.2em 4em;
    margin: -0.55em 0 1em 0;
}

blockquote .title {
    display: none;
}

article.quote .openingcurl {
    display: block;
    float: left;
    height: 45px;
    margin: -55px 0 0 -90px;
    font-size: 700%;
    color: #BE490E;
}

article.quote .closingcurl {
    display: block;
    float: right;
    height: 25px;
    margin: -35px -85px 0 0;
    font-size: 700%;
    color: #BE490E;
}

article.quote cite {
    margin-left: 80px;
    font-size: 20px;
}

article a, footer a, .warning {
    color: #BE490E;
    font-weight: bold;
}

.warning {
    font-family: Courier, monospace;
    font-size: 64px;
}

div.clear {
    clear: both;
    height: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

footer {
    clear: both;
    overflow: auto;
    background: #29292a;
    font-size: 12px;
    color: white;
    border-top: 1px solid white;
    -moz-shadow: 0 10px 10px rgba(64, 64, 64, 0.5);
    -webkit-box-shadow: 0 10px 10px rgba(64, 64, 64, 0.5);
    box-shadow: 0 10px 10px rgba(64, 64, 64, 0.5);
}

footer>div {
    height: 100px;
    padding: 10px;
}

#leftfooter {
    width: 40%;
    float: left;
    text-align: left;
}

#midfooter {
    float: left;
    font-size: 16px;
    height: 50px;
    padding: 60px 0 10px 100px;
    background: url(http://farm4.static.flickr.com/3358/5764545855_97b89127a9_t.jpg) left 60% no-repeat;
}

#rightfooter {
    width: 20%;
    float: right;
    text-align: right;
}

/*JavaScript Highlighting style for hijs.js */
code, .example {
    font-family: 'Bitstream Vera Sans Mono', 'DejaVu Sans Mono', Courier, monospace !important;
    font-size: 16px;
    border: 1px red dotted;
    background: #fff;
    padding: 1em;
    overflow-x: auto;
    overflow-y: hidden;
}

code .comment {
    color: #3CB371;
}

code .keyword {
    color: #1E90FF;
    font-weight: bold;
}

code .class {
    font-style: italic;
}

code .string {
    color: #CD5C5C;
    font-weight: bold;
}

code .number {
    color: #E9967A;
    font-weight: bold;
}


